*{
  font-family: Poppins;
}

body {
  background-color: #f0f0f0;
  font-size: 18px;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

input{
  font-family: Poppins;
  font-size: 16px;
  padding: 8px 12px;
  width: 90%;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:valid,
input:focus{
  border: 1px solid black;
}

button {
  font-family: Poppins;
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: #00c04b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#details {
  margin-top: 10px;
}

#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #3498db;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3498db transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}